In [1]:
import numpy as np
import pandas as pd

In [192]:
num = pd.read_csv('../data/additional data/ㄷ.csv')
num.columns =["aX", "aY", "aZ", "gX","gY","gZ",'little','ring','middle','index','thumb']
num = num[3000:]
num.insert(11,'number',3)
num

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
3000,0.93,-0.38,0.10,0.49,-3.48,-2.44,290,451,348,244,200,3
3001,0.93,-0.34,0.17,0.31,-3.36,-2.62,307,430,366,442,190,3
3002,0.94,-0.33,0.15,0.43,-2.69,-3.11,304,437,360,437,190,3
3003,0.93,-0.35,0.17,0.43,-1.83,-1.95,304,429,361,439,194,3
3004,0.93,-0.34,0.16,1.22,-3.17,-2.38,304,435,363,442,190,3
...,...,...,...,...,...,...,...,...,...,...,...,...
5889,0.94,-0.35,0.03,-2.69,-2.81,-2.99,304,434,365,417,236,3
5890,0.94,-0.34,0.03,-0.06,-3.36,-1.59,308,424,366,421,239,3
5891,0.95,-0.34,0.03,-0.12,-3.11,-2.01,303,429,364,432,242,3
5892,0.94,-0.35,0.03,-0.06,-2.93,-2.62,304,432,362,419,238,3
5893,0.94,-0.35,0.03,0.37,-2.62,-2.32,301,429,365,426,242,3

In [193]:
num.duplicated().sum()

0

In [194]:
num.isnull().sum()

aX        0
aY        0
aZ        0
gX        0
gY        0
gZ        0
little    0
ring      0
middle    0
index     0
thumb     0
number    0
dtype: int64

In [195]:
all_data = pd.read_csv('../data/0523.csv')
all_data

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
0,0.03,0.91,0.40,2.14,-3.23,-0.92,409,458,189,240,199,0
1,0.02,0.91,0.40,0.73,-0.79,-1.59,416,455,192,243,195,0
2,0.01,0.91,0.41,-1.59,-1.83,-5.62,409,451,190,242,197,0
3,0.00,0.89,0.43,3.42,-4.70,-1.10,413,451,190,249,202,0
4,0.05,0.91,0.38,-1.46,-1.28,-0.06,410,458,190,243,199,0
...,...,...,...,...,...,...,...,...,...,...,...,...
70767,0.92,-0.39,0.10,0.18,-3.05,-2.14,295,441,347,241,198,2
70768,0.93,-0.38,0.09,0.00,-2.93,-2.56,294,456,347,239,197,2
70769,0.92,-0.38,0.10,0.73,-3.66,-3.42,297,452,349,242,198,2
70770,0.91,-0.38,0.09,0.31,-4.33,-3.72,291,455,348,245,199,2
70771,0.92,-0.39,0.09,1.77,-3.36,-2.99,295,454,350,240,200,2

In [196]:
all_data = all_data.drop('Unnamed: 0', axis = 1)

KeyError: "['Unnamed: 0'] not found in axis"

In [197]:
all_data

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
0,0.03,0.91,0.40,2.14,-3.23,-0.92,409,458,189,240,199,0
1,0.02,0.91,0.40,0.73,-0.79,-1.59,416,455,192,243,195,0
2,0.01,0.91,0.41,-1.59,-1.83,-5.62,409,451,190,242,197,0
3,0.00,0.89,0.43,3.42,-4.70,-1.10,413,451,190,249,202,0
4,0.05,0.91,0.38,-1.46,-1.28,-0.06,410,458,190,243,199,0
...,...,...,...,...,...,...,...,...,...,...,...,...
70767,0.92,-0.39,0.10,0.18,-3.05,-2.14,295,441,347,241,198,2
70768,0.93,-0.38,0.09,0.00,-2.93,-2.56,294,456,347,239,197,2
70769,0.92,-0.38,0.10,0.73,-3.66,-3.42,297,452,349,242,198,2
70770,0.91,-0.38,0.09,0.31,-4.33,-3.72,291,455,348,245,199,2
70771,0.92,-0.39,0.09,1.77,-3.36,-2.99,295,454,350,240,200,2

In [198]:
all_data.duplicated().sum()

0

In [199]:
all_data.isnull().sum()

aX        0
aY        0
aZ        0
gX        0
gY        0
gZ        0
little    0
ring      0
middle    0
index     0
thumb     0
number    0
dtype: int64

In [200]:
pd.Series(all_data["number"]).value_counts()

0     5000
1     5000
2     5000
15    2411
18    2195
13    2124
23    2121
3     2112
24    2100
17    2067
25    2063
10    2052
26    2050
9     2049
22    2048
27    2046
12    2041
21    2039
6     2037
20    2032
28    2031
4     2028
16    2023
29    2023
14    2021
8     2016
7     2014
5     2013
19    2012
11    2004
Name: number, dtype: int64

In [188]:
num = num[3000:3499]

In [201]:
all_data = pd.concat([all_data, num],axis=0)
all_data

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
0,0.03,0.91,0.40,2.14,-3.23,-0.92,409,458,189,240,199,0
1,0.02,0.91,0.40,0.73,-0.79,-1.59,416,455,192,243,195,0
2,0.01,0.91,0.41,-1.59,-1.83,-5.62,409,451,190,242,197,0
3,0.00,0.89,0.43,3.42,-4.70,-1.10,413,451,190,249,202,0
4,0.05,0.91,0.38,-1.46,-1.28,-0.06,410,458,190,243,199,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5889,0.94,-0.35,0.03,-2.69,-2.81,-2.99,304,434,365,417,236,3
5890,0.94,-0.34,0.03,-0.06,-3.36,-1.59,308,424,366,421,239,3
5891,0.95,-0.34,0.03,-0.12,-3.11,-2.01,303,429,364,432,242,3
5892,0.94,-0.35,0.03,-0.06,-2.93,-2.62,304,432,362,419,238,3
5893,0.94,-0.35,0.03,0.37,-2.62,-2.32,301,429,365,426,242,3

In [202]:
all_data.duplicated().sum()

0

In [203]:
all_data.duplicated().sum()

0

In [146]:
all_data= all_data.drop_duplicates(subset=None,inplace=False, ignore_index=True)

In [162]:
all_data = all_data[:70776]

In [204]:
all_data

,aX,aY,aZ,gX,gY,gZ,little,ring,middle,index,thumb,number
0,0.03,0.91,0.40,2.14,-3.23,-0.92,409,458,189,240,199,0
1,0.02,0.91,0.40,0.73,-0.79,-1.59,416,455,192,243,195,0
2,0.01,0.91,0.41,-1.59,-1.83,-5.62,409,451,190,242,197,0
3,0.00,0.89,0.43,3.42,-4.70,-1.10,413,451,190,249,202,0
4,0.05,0.91,0.38,-1.46,-1.28,-0.06,410,458,190,243,199,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5889,0.94,-0.35,0.03,-2.69,-2.81,-2.99,304,434,365,417,236,3
5890,0.94,-0.34,0.03,-0.06,-3.36,-1.59,308,424,366,421,239,3
5891,0.95,-0.34,0.03,-0.12,-3.11,-2.01,303,429,364,432,242,3
5892,0.94,-0.35,0.03,-0.06,-2.93,-2.62,304,432,362,419,238,3
5893,0.94,-0.35,0.03,0.37,-2.62,-2.32,301,429,365,426,242,3

In [205]:
pd.Series(all_data["number"]).value_counts()

3     5006
0     5000
1     5000
2     5000
15    2411
18    2195
13    2124
23    2121
24    2100
17    2067
25    2063
10    2052
26    2050
9     2049
22    2048
27    2046
12    2041
21    2039
6     2037
20    2032
28    2031
4     2028
29    2023
16    2023
14    2021
8     2016
7     2014
5     2013
19    2012
11    2004
Name: number, dtype: int64

In [206]:
all_data = all_data[:73660]

In [207]:
pd.Series(all_data["number"]).value_counts()

0     5000
1     5000
2     5000
3     5000
15    2411
18    2195
13    2124
23    2121
24    2100
17    2067
25    2063
10    2052
26    2050
9     2049
22    2048
27    2046
12    2041
21    2039
6     2037
20    2032
28    2031
4     2028
29    2023
16    2023
14    2021
8     2016
7     2014
5     2013
19    2012
11    2004
Name: number, dtype: int64

In [169]:
all_data = all_data[:70772]

In [99]:
all_data.duplicated().sum()

0

In [171]:
all_data.to_csv('../data/0523.csv', index = False)